*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
    text-decoration: none;

}
a{
    color: inherit;
    text-decoration: none;

}
html,body{
    overflow: hidden;
height: 100vh;
width: 100vw;
}

body{
background-image: url(Desktop\ -\ 1.png);

background-repeat: no-repeat;
background-attachment: local;
background-size: cover;
background-position: center center;
}

.background-amarelo{
position: absolute;
z-index: -2;
background-image: linear-gradient(to top, #F8F8AF, #00000028);
width: 100vw;
height: 100vh;

}


header{
    display: flex;
    width: 99vw;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    filter: blur(0);
    margin-top: 21px;
    height: 69px;
    padding:0px 30px;
    font-size: 20px;
    z-index: -3;
}

nav{
margin-left: 25vw;

}

ul{
    display: flex;
    gap: 20px;
    color: white;
}

.fake{
    background-color: rgba(0, 0, 0, 0.485);
    margin: auto;
    position: absolute;
    width: 99vw;
    height: 69px;z-index: -1;
    left: 50%;
    top: 21px;
backdrop-filter: 10px;
backdrop-filter: blur(10px);
border-radius: 10px;
    transform: translateX(-50%);
    box-shadow: 0px 2px 2px white;
}
.yasuo-front img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    z-index: -2;
width: 100vw;
}

main{
    display: flex;
    width: 1000vw;
    justify-content: left;
    align-items: center;
    height: 100vh;
    flex-direction: row-reverse;
    gap: 480px;
}
button{
    top: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 188px;
    height: 46px;
    background-color: aqua;
    border:2px solid white;
    border-radius: 10px;
    color: black;

}
h2{
    font-size: 48px;
    color: #FFF;
    z-index: -4;
    position: relative;
    font-size: 2vw;
}
.Japones{
    z-index: -4;
    position: relative;
}
h1{
    color: white;
    font-size: 9vw;

}

p{
    color: white;
    text-align: right;
    font-size: 30px;
}
.Rota, .Dificuldade{
    margin-left: 20vw;
    margin-top: 30px;
    flex-direction: column;
display: flex;
}

.Legenda-principal{
    text-align: center;
    font-size: 20px;
}

.Legenda-secundaria{
    text-align: center;

}
